<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 * @var \App\View\AppView $this
 */

use Cake\Core\Configure;

?>

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" href="/font/bootstrap-icons.woff2" as="font" type="font/woff" crossorigin>
    
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <% htmlWebpackPlugin
        .tags
        .headTags
        .filter((tag) => tag.tagName === 'link')
        .forEach(function(link){
    %>
    <%= link.toString().replace('../../webroot', '') %><% }) %>

    <title><?= env('APP_NAME'); ?></title>
</head>

<body>
    <div id="app"></div>
    <?php if (Configure::read('debug')) : ?>
        <script src="<?= 'http://localhost:35729/livereload.js?snipver=1'; ?>"></script>
    <?php endif; ?>
    <% htmlWebpackPlugin
        .tags
        .headTags
        .filter((tag) => tag.tagName === 'script')
        .forEach(function(script){
    %>
    <%= script.toString().replace('../../webroot', '') %><% }) %>
</body>

</html>
